@page
@model LoginModel
@{ Layout = ""; }
<link href="~/material-kit-master/assets/css/material-kit.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/38a775c634.js" crossorigin="anonymous"></script>

@{
    ViewData["Title"] = "Login";
}

<div class="col-md-12 col-sm-12 col-lg-12">
    <div class="row" style="padding-top:200px">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="card card-login">
                        <section>
                            <form class="form" id="account" method="post">
                                <div class="card-header card-header-danger text-center">
                                    <h2 class="card-title">SpeedFit</h2>
                                </div>
                                <div class="card-body">
                                    <span class="bmd-form-group is-filled">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </span>

                                    <span class="bmd-form-group is-filled">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-key"></i>
                                                </span>
                                            </div>
                                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Senha" autocomplete="" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </span>
                                </div>
                                <br />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <br />
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-danger">Log in</button>
                                </div>
                                <div class="form-group text-center">
                                    <p>
                                        <a asp-page="./Register" class="btn btn-danger btn-link btn-wd btn-lg" asp-route-returnUrl="@Model.ReturnUrl">Registrar</a>
                                    </p>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}